/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.span {
  color: coral;
}
.flex {
  display: flex;
}
.container {
  padding: 0 8rem;
}
.btn {
  padding: 13px 30px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  background: rgb(248, 58, 58);
  border-style: none;
  border-radius: 5px;
  margin-bottom: 2rem;
}

/* home section start */
.container .left {
  width: 50%;
  padding-top: 120px;
}
.container .left h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: rgb(37, 36, 36);
  border-left: 5px solid rgb(248, 58, 58);
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-family: "Abril Fatface", cursive;
}
.container .left p {
  color: rgb(66, 63, 63);
  padding-right: 7rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.container .right img {
  width: 400px;
  align-items: center;
}

/* my mession section start */
.mession-section {
  padding-bottom: 4rem;
}
.container .mession-text {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(21, 0, 39);
  margin-top: 1.5rem;
  padding: 3rem;
}
.container-item {
  display: flex;
}

.card {
  padding: 2rem;
  border-radius: 20px;
}
.card1 {
  margin-right: 1.5rem;
  background: rgb(209, 242, 245);
}
.card2 {
  margin-right: 1.5rem;
  background: rgb(252, 215, 215);
}
.card3 {
  background: rgb(209, 242, 245);
}
.card img {
  width: 30%;
  margin-bottom: 0.5rem;
}
.card h2 {
  margin-bottom: 1rem;
}
.card p {
  font-size: 15px;
  color: rgb(66, 63, 63);
}

/* develop and community section start */
.develop-section {
  padding: 2rem 0;
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: left;
}

.container .img img {
  width: 330px;
  align-items: center;
  margin-right: 4rem;
}
.dev-com-text h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: rgb(37, 36, 36);
}
.dev-com-text p {
  color: rgb(66, 63, 63);
  margin-bottom: 0.9rem;
}

.community-section {
  padding: 2rem 0;
}

.com-text {
  padding-top: 3rem;
  padding-right: 6rem;
}

/* team section start */
.team {
  padding-top: 2rem;
  padding-bottom: 7rem;
  text-align: center;
}
.team h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 3rem;
}
.team h3 {
  font-weight: 400;
}
.team .container .team-member1,
.team .container .team-member4 {
  background: rgb(252, 215, 215);
  margin-right: 1.5rem;
}
.team .container .team-member2,
.team .container .team-member3 {
  background: rgb(209, 242, 245);
  margin-right: 1.5rem;
}

/* footer section start */
footer {
  background: rgb(1, 1, 14);
  text-align: center;
  padding: 3rem 0;
}
footer h1 {
  color: white;
  margin-bottom: 1rem;
  font-family: "Satisfy", cursive;
}
footer p {
  color: rgb(107, 102, 102);
}
